

@font-face {
    font-family: boogaloo;
    src: url('/assets/fonts/boogaloo/Boogaloo-Regular.ttf');
}

body {
    font-family: "boogaloo";
    padding: 0;
    margin: 0;
    outline: none;
    width: 100%;
    height: 100vh;
}

.btn {
    background: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 28px;
    padding: 15px 40px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    transition: all .3s ease;
    outline: none;
    overflow: hidden;
}

.btn.btn--start {
    border: 3px dashed #ffba00;
    color: #ffba00;
}

.btn.btn--start:hover {
    background: #ffba00;
    box-shadow: 0 0 0.125em rgba(0, 0, 0, 0.2);
    color: #664a00;
}


.btn.btn--secondary {
    border: 3px dashed #8cf391;
    color: #8cf391;
}

.btn.btn--secondary:hover {
    background: #8cf391;
    box-shadow: 0 0 0.125em rgba(0, 0, 0, 0.2);
    color: #fff;
}

.btn.btn--danger {
    border: 3px dashed #e21f11;
    color: #e21f11;
}

.btn.btn--danger:hover {
    background: #e21f11;
    box-shadow: 0 0 0.125em rgba(0, 0, 0, 0.2);
    color: #fff;
}

.btn.btn--small {
    padding: 8px 16px;
    font-size: 12px;
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}



@keyframes tada {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        -ms-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    10%,
    20% {
        -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
        -ms-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    }

    30%,
    50%,
    70%,
    90% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
        -ms-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    }

    40%,
    60%,
    80% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
        -ms-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1);
        -ms-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

.tada {
    -webkit-animation-name: tada;
    animation-name: tada;
}

.fade-in {
    animation: fadeIn ease 2s;
    -webkit-animation: fadeIn ease 2s;
}




/* Sentence Translation */

.sentence-translation {
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #4B4168, #03618ae8);
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.translation__box {
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 0 3em rgba(0, 0, 0, 0.3);
    max-width: 1200px;
    overflow: hidden;
    position: relative;
    transition: all .3s ease;
    width: 90vw;
    height: 90vh;
    padding: 16px;
    box-sizing: border-box;
    overflow: auto;
}

.translate__info h2,
.translate__msg h1 {
    margin: 0;
    line-height: normal;
}

.translate__info {
    padding: 16px;
}

.translate__msg {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    border: 1px solid #79b5da;
    background: #d3e2ea;
    border-radius: 20px;
    color: #245073;
    margin-bottom: 16px;
}

.user-information {
    display: flex;
}

/* .user-information>div:first-child {
    padding-right: 16px;
}

.user-information>div:last-child {
    padding-left: 16px;
} */

.user-information .user-input,
.user-information .bot-input {
    flex: 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-input h1,
.bot-input h1 {
    margin: 0;
}

/* .user-input span,
.bot-input span {
    border: 1px dashed #024f9d;
    border-radius: 5px;
    padding: 8px 16px;
    font-size: 24px;
} */

.record__audio,
.question__set, .score-card, .decide-answer {
    display: grid;
    padding: 16px 0;
    grid-gap: 16px;
    grid-template-columns: repeat(2, 1fr);
}

.record__audio h2 {
    margin: 0;
}

/* .record__audio__user {
    flex-direction: row-reverse;
} */

/* .record__audio__bot {
    flex-direction: row;
    padding-left: 16px;
} */

.record__audio__user,
.record__audio__bot,
.question__set__user,
.question__set__bot,
.score-card__user,
.score-card__bot,
.decide-answer__user,
.decide-answer__bot {
    display: flex;
    align-items: center;
    justify-content: center;
}

.audio-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 16px;
    cursor: pointer;
}

.audio-container .btn {
    margin-top: 8px;
}

.audio-icon,
.bot-icon {
    width: 64px;
    height: 64px;
    background: #d3e2ea;
    border-radius: 50%;
    box-sizing: border-box;
    cursor: pointer;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.audio-icon {
    padding: 12px;
}

.bot-icon {
    padding: 0;
}

.audio-icon img,
.bot-icon img {
    width: 100%;
}

.question__set__container {
    padding: 16px 0;
    min-height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.question__set {
    padding: 0;
    margin-bottom: 8px;
}

.question__set:last-child {
    margin-bottom: 0;
}

.question__set__user,
.question__set__bot {
    position: relative;
}

.question__status {
    position: absolute;
    height: 100%;
}

.question__status--left {
    left: 0;
}

.question__status--right {
    right: 0;
}

.icon {
    position: relative;
    width: 24px;
    height: 24px;
    display: inline-block;
}

.icon::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: white;
}

.icon--right {
    border: 1px solid #8cf391;
    background: #8cf391;
}

.icon--right::after {
    content: '\2713';
}

.icon--wrong {
    border: 1px solid #e21f11;
    background: #e21f11;
}
    
.icon--wrong::after {
    content: '\2718';
}

.icon--right, .icon--wrong {
    border-radius: 50%;
}

.decide-answer__user, .decide-answer__bot {
    justify-content: space-evenly;
}

.submit-btn {
    padding: 16px 0;
    display: flex;
    justify-content: center;
}

.m-0 {
    margin: 0 !important;
}
.p-0 {
    padding: 0 !important;
}